<a href="https://colab.research.google.com/github/sahug/time-series/blob/main/TSA%20-%20Basics%20-%20Modelling%20Time%20Series%20Using%20LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TSA - Basics - Modelling Time Series Using LSTM**

**Get Dataset**

In [1]:
!wget https://storage.googleapis.com/tensorflow/tf-keras-datasets/jena_climate_2009_2016.csv.zip

--2022-06-10 04:08:04--  https://storage.googleapis.com/tensorflow/tf-keras-datasets/jena_climate_2009_2016.csv.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 172.217.214.128, 142.250.1.128, 142.250.103.128, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|172.217.214.128|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13568290 (13M) [application/zip]
Saving to: ‘jena_climate_2009_2016.csv.zip’

jena_climate_2009_2 100%[===================>]  12.94M  --.-KB/s    in 0.1s

2022-06-10 04:08:04 (103 MB/s) - ‘jena_climate_2009_2016.csv.zip’ saved [13568290/13568290]

**Unzip**

In [2]:
import zipfile
with zipfile.ZipFile("/content/jena_climate_2009_2016.csv.zip", "r") as zip:
  zip.extractall("/content/")

**Load Dataset**

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/jena_climate_2009_2016.csv")

In [5]:
df.head(10)

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
0,01.01.2009 00:10:00,996.52,-8.02,265.40,-8.90,93.3,3.33,3.11,0.22,1.94,3.12,1307.75,1.03,1.75,152.3
1,01.01.2009 00:20:00,996.57,-8.41,265.01,-9.28,93.4,3.23,3.02,0.21,1.89,3.03,1309.80,0.72,1.50,136.1
2,01.01.2009 00:30:00,996.53,-8.51,264.91,-9.31,93.9,3.21,3.01,0.20,1.88,3.02,1310.24,0.19,0.63,171.6
3,01.01.2009 00:40:00,996.51,-8.31,265.12,-9.07,94.2,3.26,3.07,0.19,1.92,3.08,1309.19,0.34,0.50,198.0
4,01.01.2009 00:50:00,996.51,-8.27,265.15,-9.04,94.1,3.27,3.08,0.19,1.92,3.09,1309.00,0.32,0.63,214.3
5,01.01.2009 01:00:00,996.50,-8.05,265.38,-8.78,94.4,3.33,3.14,0.19,1.96,3.15,1307.86,0.21,0.63,192.7
6,01.01.2009 01:10:00,996.50,-7.62,265.81,-8.30,94.8,3.44,3.26,0.18,2.04,3.27,1305.68,0.18,0.63,166.5
7,01.01.2009 01:20:00,996.50,-7.62,265.81,-8.36,94.4,3.44,3.25,0.19,2.03,3.26,1305.69,0.19,0.50,118.6
8,01.01.2009 01:30:00,996.50,-7.91,265.52,-8.73,93.8,3.36,3.15,0.21,1.97,3.16,1307.17,0.28,0.75,188.5
9,01.01.2009 01:40:00,996.53,-8.43,264.99,-9.34,93.1,3.23,3.00,0.22,1.88,3.02,1309.85,0.59,0.88,185.0

In [6]:
df.tail(10)

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
420541,31.12.2016 22:30:00,1000.44,-4.08,269.05,-7.89,74.60,4.51,3.37,1.15,2.10,3.37,1293.55,1.27,2.48,192.1
420542,31.12.2016 22:40:00,1000.45,-4.45,268.68,-7.15,81.30,4.39,3.57,0.82,2.22,3.57,1295.24,0.80,1.44,183.8
420543,31.12.2016 22:50:00,1000.32,-4.09,269.05,-7.23,78.60,4.51,3.54,0.96,2.21,3.54,1293.37,1.25,1.60,199.2
420544,31.12.2016 23:00:00,1000.21,-3.76,269.39,-7.95,72.50,4.62,3.35,1.27,2.09,3.35,1291.71,0.89,1.30,223.7
420545,31.12.2016 23:10:00,1000.11,-3.93,269.23,-8.09,72.60,4.56,3.31,1.25,2.06,3.31,1292.41,0.56,1.00,202.6
420546,31.12.2016 23:20:00,1000.07,-4.05,269.10,-8.13,73.10,4.52,3.30,1.22,2.06,3.30,1292.98,0.67,1.52,240.0
420547,31.12.2016 23:30:00,999.93,-3.35,269.81,-8.06,69.71,4.77,3.32,1.44,2.07,3.32,1289.44,1.14,1.92,234.3
420548,31.12.2016 23:40:00,999.82,-3.16,270.01,-8.21,67.91,4.84,3.28,1.55,2.05,3.28,1288.39,1.08,2.00,215.2
420549,31.12.2016 23:50:00,999.81,-4.23,268.94,-8.53,71.80,4.46,3.20,1.26,1.99,3.20,1293.56,1.49,2.16,225.8
420550,01.01.2017 00:00:00,999.82,-4.82,268.36,-8.42,75.70,4.27,3.23,1.04,2.01,3.23,1296.38,1.23,1.96,184.9

**Data Analysis**

Top 4 records don't complet an hour frame so we will exclude it from our model.

In [7]:
df = df[5:]
df.head(5)

,Date Time,p (mbar),T (degC),Tpot (K),Tdew (degC),rh (%),VPmax (mbar),VPact (mbar),VPdef (mbar),sh (g/kg),H2OC (mmol/mol),rho (g/m**3),wv (m/s),max. wv (m/s),wd (deg)
5,01.01.2009 01:00:00,996.50,-8.05,265.38,-8.78,94.4,3.33,3.14,0.19,1.96,3.15,1307.86,0.21,0.63,192.7
6,01.01.2009 01:10:00,996.50,-7.62,265.81,-8.30,94.8,3.44,3.26,0.18,2.04,3.27,1305.68,0.18,0.63,166.5
7,01.01.2009 01:20:00,996.50,-7.62,265.81,-8.36,94.4,3.44,3.25,0.19,2.03,3.26,1305.69,0.19,0.50,118.6
8,01.01.2009 01:30:00,996.50,-7.91,265.52,-8.73,93.8,3.36,3.15,0.21,1.97,3.16,1307.17,0.28,0.75,188.5
9,01.01.2009 01:40:00,996.53,-8.43,264.99,-9.34,93.1,3.23,3.00,0.22,1.88,3.02,1309.85,0.59,0.88,185.0

In [8]:
time = pd.to_datetime(df.pop("Date Time"), format="%d.%m.%Y %H:%M:%S")
time

5        2009-01-01 01:00:00
6        2009-01-01 01:10:00
7        2009-01-01 01:20:00
8        2009-01-01 01:30:00
9        2009-01-01 01:40:00
                 ...
420546   2016-12-31 23:20:00
420547   2016-12-31 23:30:00
420548   2016-12-31 23:40:00
420549   2016-12-31 23:50:00
420550   2017-01-01 00:00:00
Name: Date Time, Length: 420546, dtype: datetime64[ns]

In [9]:
series = df["T (degC)"]
series.index = time
series

Date Time
2009-01-01 01:00:00   -8.05
2009-01-01 01:10:00   -7.62
2009-01-01 01:20:00   -7.62
2009-01-01 01:30:00   -7.91
2009-01-01 01:40:00   -8.43
                       ...
2016-12-31 23:20:00   -4.05
2016-12-31 23:30:00   -3.35
2016-12-31 23:40:00   -3.16
2016-12-31 23:50:00   -4.23
2017-01-01 00:00:00   -4.82
Name: T (degC), Length: 420546, dtype: float64

**Null Check**

In [10]:
series.isna().sum()

0

**Train and Test**

In [11]:
import numpy as np

In [12]:
# train test split
train = series[:-int(len(series)/10)]
train_idx = train.index
test = series[-int(len(series)/10):]
test_idx = test.index

In [13]:
print(train.shape)
train

(378492,)

Date Time
2009-01-01 01:00:00   -8.05
2009-01-01 01:10:00   -7.62
2009-01-01 01:20:00   -7.62
2009-01-01 01:30:00   -7.91
2009-01-01 01:40:00   -8.43
                       ...
2016-03-11 20:10:00    2.84
2016-03-11 20:20:00    2.86
2016-03-11 20:30:00    2.81
2016-03-11 20:40:00    2.80
2016-03-11 20:50:00    2.80
Name: T (degC), Length: 378492, dtype: float64

In [14]:
print(test.shape)
test

(42054,)

Date Time
2016-03-11 21:00:00    2.75
2016-03-11 21:10:00    2.73
2016-03-11 21:20:00    2.67
2016-03-11 21:30:00    2.62
2016-03-11 21:40:00    2.58
                       ...
2016-12-31 23:20:00   -4.05
2016-12-31 23:30:00   -3.35
2016-12-31 23:40:00   -3.16
2016-12-31 23:50:00   -4.23
2017-01-01 00:00:00   -4.82
Name: T (degC), Length: 42054, dtype: float64

**StandardScaler**

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train = pd.Series(scaler.fit_transform(train.values.reshape(-1, 1))[:, 0], index=train_idx)
test = pd.Series(scaler.transform(test.values.reshape(-1, 1))[:, 0], index=test_idx)

In [16]:
train

Date Time
2009-01-01 01:00:00   -2.041230
2009-01-01 01:10:00   -1.990298
2009-01-01 01:20:00   -1.990298
2009-01-01 01:30:00   -2.024648
2009-01-01 01:40:00   -2.086240
                         ...
2016-03-11 20:10:00   -0.751347
2016-03-11 20:20:00   -0.748978
2016-03-11 20:30:00   -0.754901
2016-03-11 20:40:00   -0.756085
2016-03-11 20:50:00   -0.756085
Length: 378492, dtype: float64

In [17]:
test

Date Time
2016-03-11 21:00:00   -0.762007
2016-03-11 21:10:00   -0.764376
2016-03-11 21:20:00   -0.771483
2016-03-11 21:30:00   -0.777405
2016-03-11 21:40:00   -0.782143
                         ...
2016-12-31 23:20:00   -1.567444
2016-12-31 23:30:00   -1.484531
2016-12-31 23:40:00   -1.462027
2016-12-31 23:50:00   -1.588764
2017-01-01 00:00:00   -1.658648
Length: 42054, dtype: float64

**Lag Matrix Generation**

In [18]:
import numpy as np

# function for generating the lagged matrix
def split_sequence(sequence, window_size):
    X = []
    y = []
    # for all indexes
    for i in range(len(sequence)):
        end_idx = i + window_size
        # exit condition
        if end_idx > len(sequence) - 1:
            break
        # get X and Y values
        seq_x, seq_y = sequence[i:end_idx], sequence[end_idx]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)

In [19]:
window_size = 24

X_train, y_train = split_sequence(train, window_size=window_size)
X_test, y_test = split_sequence(test, window_size=window_size)

In [20]:
# reshape input to be [samples, time steps, features]
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

**LSTM**

In [ ]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

model = Sequential()
model.add(LSTM(4, input_shape=(1, window_size)))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam')
model.fit(X_train, y_train, epochs=10, batch_size=1, verbose=2)

Epoch 1/10
378468/378468 - 847s - loss: 0.0042 - 847s/epoch - 2ms/step
Epoch 2/10
378468/378468 - 830s - loss: 0.0015 - 830s/epoch - 2ms/step
Epoch 3/10
378468/378468 - 830s - loss: 0.0013 - 830s/epoch - 2ms/step
Epoch 4/10
378468/378468 - 829s - loss: 0.0013 - 829s/epoch - 2ms/step
Epoch 5/10
378468/378468 - 830s - loss: 0.0012 - 830s/epoch - 2ms/step
Epoch 6/10
378468/378468 - 830s - loss: 0.0012 - 830s/epoch - 2ms/step
Epoch 7/10
378468/378468 - 828s - loss: 0.0012 - 828s/epoch - 2ms/step
Epoch 8/10